h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: 'Courgette', cursive;
    font-size: 60px;
    width: 500px;
    height: initial;
    color: rgba(255, 127, 80, 1);
    text-shadow: -6px 6px 6px black;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: black;
}

.button i:hover {
    color: rgba(255, 127, 80, 0.70);
    box-shadow: -4px 4px 4px black;
}

.icon {
    margin-right: 50px;
    margin-left: 50px;
}